apache-airflow==2.9.1
beautifulsoup4==4.11.1
bokeh==3.4.1
docker_py==1.10.6
Faker==24.3.0
findspark==2.0.1
folium==0.16.0
fuzzywuzzy==0.18.0
google_cloud_aiplatform==1.49.0
itemadapter==0.9.0
kaggle==1.6.11
matplotlib==3.6.0
minio==7.2.5
nltk==3.8.1
numpy==1.23.3
opencv_contrib_python==4.7.0.68
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
pandas==1.5.0
Pillow==10.3.0
plotly==5.22.0
prophet==1.1.5
protobuf==4.21.7
pyarrow==16.1.0
pyspark==3.5.1
pytesseract==0.3.10
python-dotenv==1.0.1
Requests==2.32.3
scrapy==2.11.2
seaborn==0.13.2
selenium==4.21.0
spacy==3.7.4
streamlit==1.35.0
streamlit_bokeh_events==0.1.2
streamlit_folium==0.20.0
streamlit_navigation_bar==3.3.0
streamlit_option_menu==0.3.12
torch==1.12.1
transformers==4.40.1
vertexai==1.49.0
webdriver_manager==4.0.1